html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

canvas {
  height: 0;
  flex: 1;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

basic-tachometer {
  position: fixed;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
}

memory-available {
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}